@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Soleii';
        src: url('/fonts/SoleilRegular.woff2') format('woff2');

        font-style: normal;
        font-weight: 300;
        font-display: swap;
    }
    @font-face {
        font-family: 'SoleiiBold';
        src: url('/fonts/SoleilBold.woff2') format('woff2');

        font-style: normal;
        font-weight: 300;
        font-display: swap;
    }
    @font-face {
        font-family: 'SoleiiLight';
        src: url('/fonts/SoleilLight.woff2') format('woff2');

        font-style: normal;
        font-weight: 300;
        font-display: swap;
    }
}